/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}

/*ANCHOR HEADER */
header{
    background-color: #FFFFFF;
}
.navbar{
    height: 70px;
}
.logo>img{
    height: 50px;
}
.logo-grande>img{
    height: 32px;
}
.searchbar{
    border-left:none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

/*ANCHOR SIDEBAR */
.sidebar{
    height: calc((100%) - 70px);
    margin-top: 70px;
    width: fit-content;
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
}
.menu-item{
    text-decoration: none;
    color: white;
}

/* CONTAINER CENTRALE */
.main-container{
    position: absolute;
    right: 0;
    left: 57px;
    top: 70px;
}
@media (min-width: 992px) {
    .main-container{
      left:143px;
    }
}

/* SECTION BLUE */
.new-student{
    background-color: #1b72e8;
    color: white;
}
.plus-button:hover{
    background-color: white;
}
.plus-button:hover .plus-svg{
    filter: invert(100%);
}
.badge{
    background-color: rgba(14, 85, 183, 0.7);
}
.side-menu-hover:hover{
    background-color: rgb(255, 255, 255, 0.2);
}

/* SECTION NEXT_CLASS */
.table-avatar{
    height: 1.7em;
}
.table-icon{
    max-width: fit-content;
}
.modify:hover, .cancel:hover{
    background-color: rgb(218, 215, 215);
}
.process-badge{
    color: white;
    background-color: #ffc107;
}
.failed-badge{
    color: white;
    background-color: #DC3444;
}


/* ANCHOR OFFCANVAS */
@media (min-width: 992px) {
    .offcanvas{
        max-width: 600px;
    }
}